*{
    margin: 0;
    padding:0;
    font-family: 'Dosis', sans-serif;
}
body{
    background-color:#ffb3de;
}
.container{
    width:100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width:100px;
    cursor:pointer;
    margin: 30px 0;
    border-radius: 40%;
}
.menu-icon{
    width: 50px;
    cursor: pointer;
    display:none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
nav ul li a:hover{
    color: white;
}
span{
    color:#ff1493;
}
.col-1 h1{
    color: white;
    font-size: 60px;
}
.col-1 h2{
    color: white;
    font-size: 46px;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-1 p{
    font-size: 16px;
    color: black;
    font-weight: 100;
}
.col-1 p{
    margin: 30px 0;
    font-size: 28px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:100px 0;
}
.col-1{
    flex-basis:40%;
    position: relative;
    margin-left: 50px;
}
.col-1::after{
    content:'';
    width: 10px;
    height: 60%;
    background: linear-gradient(#ff1493,#ff91a4);
    position: absolute;
    left:-40px;
    top:8px;
}
.col-2{
    position:relative;
    flex-basis: 60%;
    display:flex;
    align-items:center;
}
.col-2 .Principal{
    width:90%;
}
.Principal{
    border-radius: 10%;
}
.social-links img{
    height: 30px;
    margin: 20px;
    cursor: pointer;
}
.social-links{
    text-align: center;
}

@media(max-width:700px){
    .nav ul{
        width: 100%;
        position: absolute;
        top: 75px;
        right:0;
        z-index: 2;
    }
    .nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
   
    .menu-icon{
        display: block;
    }
    #menulist{
        overflow: hidden;
        transition: 0.5s;
    }
    .row{
        flex-direction:column-reverse;
        margin: 50px 0;
        
    }
    .col-2{
        flex-basis:100%;
        margin-bottom: 50px;
    }
    .col-2 .Principal{
        width: 100%;
    }

}